[submodule "Externals/SwiftUtilities"]
	path = Externals/SwiftUtilities
	url = https://github.com/schwa/SwiftUtilities.git
[submodule "Externals/SwiftRandom"]
	path = Externals/SwiftRandom
	url = https://github.com/schwa/SwiftRandom.git
